*{
	margin: 0;
	padding: 0;
	font-family: sans-serif, serif;
	box-sizing: border-box;
}
.chatbox{
	width: auto;
	height: 600px;
	background-color: blue;
	box-shadow: 0 3px;
	border-width: 3px;
}
.chatlogs{
	margin: 10px;
	padding: 10px;
	height: 60%;
	width: auto;
	background-color: #E6E9E9;
}
.friendlist{
	background-color: pink;
	width: 100%
	height:100%;
}
.chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 5px;
}
.avatar{
	width: 50px;
	height: 50px;
	background: grey;
	float: left;
	border-radius: 50%;
}
.text{
	color:white;
	width: 70%;
	height: 50px;
	background: #056DF1;
	float: left;
	align-content: left;
	margin: 5px 10px 0;
}
.chat-form{
	margin: 10px;
	padding: 10px;
	width: auto;
	height: auto;
	float:bottom;
}
.textarea{
	width: 95%;
	height: auto;
	margin: 10px;
	padding: 10px;
}
