*{
	box-sizing: border-box;
}
body
{
	background: url('http://hdmotion.vn/wp-content/uploads/2014/07/Sequence-01.Still019.jpg') no-repeat fixed;
	font-family: Arial,Helvetica,sans-serif;
	margin:0;

}
